<div class="d-flex align-items-center my-5 py-5 border-top">
  <%= image_tag 'home/avatar-300px.jpg', class: 'img-fluid d-block mx-auto', alt: 'Oleks Tsukur Avatar', style: 'max-width: 100px;' %>
  <div class="ml-3">
    <h5 class="mb-3">Oleks Tsukur</h5>
    <p class="mb-0">
      Oleks Tsukur helps SaaS businesses grow revenue by custom conversion funnel.
    </p>
  </div>
</div>
