<footer class="navbar">
  <nav class="container">
    <div class="d-flex w-100">
      <div class="flex-grow-1">
        <p class="mb-3">&copy; <%= Time.now.strftime('%Y') %> OleksConsulting.com</p>
        <a href="/privacy-policy" class="btn btn-link text-body">Privacy Policy</a>
        <a href="/terms" class="btn btn-link text-body">Terms</a>
      </div>
      <ul class="d-flex list-unstyled">
        <li class="nav-item">
          <a class="nav-link text-body" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" href="/contact">Contact</a>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link text-body" href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
