<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex align-items-center">
    <span class="navbar-brand text-uppercase d-block mr-auto">OLEKS CONSULTING</span>

    <span class="text-uppercase text-white font-weight-light">PRIVATE APPLICATION</span>
  </div>
</nav>
