<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand text-uppercase d-block mr-auto" href="/">OLEKS CONSULTING</a>

    <ul class="navbar-nav d-none flex-row ">
      <li class="nav-item px-3">
        <a class="nav-link py-2" href="/about">About</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-2" href="/contact">Contact</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-2" href="/blog">Blog</a>
      </li>
    </ul>
  </div>
</nav>
