<main id="content" class="container d-flex py-5" style="min-height: calc(100vh - 104px - 56px)">
  <div class="row my-auto flex-grow-1">
    <div class="col-lg-5 offset-lg-1 d-flex align-items-center mb-4">
      <div class="text-center text-lg-left mx-auto ml-lg-0 mb-4" style="max-width: 474px;">
        <h1 class="h2 mb-3 mb-5">About Oleks Tsukur</h1>
        <%= image_tag 'home/look-left.png', class: 'img-fluid d-block d-lg-none mx-auto mb-4', alt: "Oleks Tsukur Avatar" %>

        <p>Oleks Tsukur is a digital marketing consultant from Ukraine who helps companies profit wildly through digital marketing</p>

        <p>He has been able to consistently prove ROI. He has helped them gain choke holds in their respective markets online.</p>
      </div>
    </div>
    <div class="col-lg-5 mb-4">
      <%= image_tag 'home/look-left.png', class: 'img-fluid d-none d-lg-block mx-auto', alt: "Oleks Tsukur Avatar" %>
    </div>
  </div>
</main>
