<main id="content" class="container d-flex py-5" style="min-height: calc(100vh - 104px - 56px)">
  <div class="row my-auto flex-grow-1">
    <div class="col-lg-5 offset-lg-1 d-flex align-items-center mb-4">
      <div class="text-center text-lg-left mx-auto ml-lg-0 mb-4" style="max-width: 474px;">
        <h1 class="h2 mb-3 mb-5">Want to get in touch?  Let's talk!</h1>
        <%= image_tag 'home/look-left.png', class: 'img-fluid d-block d-lg-none mx-auto mb-4', alt: "Oleks Tsukur Avatar" %>
        <p>To contact Oleks or his staff please use the following information.</p>

        <p>Oleks Tsukur and his staff operate Monday – Friday 7am – 3pm Eastern Time (New York). To contact Oleks Tsukur or his team please use the information below: </p>

        <div class="mb-4">
          <span class="font-weight-bold">Email:</span>
          <p>support@oleksconsulting.com</p>
        </div>

        <div class="mb-5">
          <span class="font-weight-bold">Phone:</span>
          <p>+1 530 618 2517</p>
        </div>

        <a href="https://calendly.com/oleksconsulting/15min" class="btn btn-primary btn-lg" target="_blank">Jump On A Quick 15-min Call</a>
      </div>
    </div>
    <div class="col-lg-5 mb-4">
      <%= image_tag 'home/look-left.png', class: 'img-fluid d-none d-lg-block mx-auto', alt: "Oleks Tsukur Avatar" %>
    </div>
  </div>
</main>
