<main id="content" class="container d-flex py-5" style="min-height: calc(100vh - 104px - 56px)">
  <div class="row my-auto flex-grow-1">
    <div class="col-lg-5 offset-lg-1 mb-4">
      <%= image_tag 'home/look-right.png', class: 'img-fluid mx-auto', alt: "Oleks Tsukur Avatar" %>
    </div>
    <div class="col-lg-5 d-flex align-items-center mb-4">
      <div class="text-center text-lg-left mx-auto ml-lg-0 mb-4" style="max-width: 474px;">
        <h1 class="h2 mb-3">I help SaaS companies grow revenue by building custom conversion funnel</h1>
        <p>Are you a founder of SaaS company looking to reposition your product?</p>

        <p>My name is Oleks Tsukur and I help founders of SaaS companies grow revenue by building new or improving the conversion rate of an existing funnel</p>

        <p>If you're interested in growing your revenue, click the button below to schedule your breakthrough strategy session</p>

        <a href="https://calendly.com/oleksconsulting/45-min-strategy-session" class="btn btn-primary btn-lg" target="_blank">Book My Strategy Session</a>
      </div>
    </div>
  </div>
</main>
