---
private_application: true
---

<main id="content" class="container d-flex py-5" style="min-height: calc(100vh - 104px - 56px)">
  <div class="row my-auto flex-grow-1">
    <div class="col-lg-5 offset-lg-1 mb-4">
      <%= image_tag 'home/look-right.png', class: 'img-fluid d-block mx-auto', alt: "Oleks Tsukur Avatar" %>
    </div>
    <div class="col-lg-5 d-flex align-items-center mb-4">
      <div class="text-center text-lg-left mx-auto ml-lg-0 mb-4" style="max-width: 474px;">

        Thanks for scheduling your breakthrough strategy session<br />
        <br />
        I have sent you confirmation of your calls time and date via email, please make sure that you put this in your calendar right now<br />
        <br />
        I will call you via Skype or Phone (depending on what you selected in the survey) at the precise time that you selected, please make sure that you are ready when they call. If you are more than 5mins late the call will be cancelled and you will not be able to reschedule another one<br />
        <br />
        Please make sure that you are in a quiet room and do not take the call from your car, airport or any other noisy place. If you take the call in a noisy location we will cancel the call with you and not allow you to reschedule another one<br />
        <br />
        I look forward to helping you explode your business and achieve massive success!<br />
        <br />
        <br />
        - Oleks
      </div>
    </div>
  </div>
</main>
